@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  @apply list-none text-white font-normal
}

.scroll-hidden::-webkit-scrollbar{
  display: none
}

.btn-component {
  @apply hover:bg-btn-focus hover:scale-[.98] mt-2 focus:outline focus:outline-4 focus:outline-sky-300 focus:bg-sky-700
}

.swiper-pagination-bullet {
  @apply w-2 h-2 bg-tertiary
}

.swiper-pagination-bullet-active {
  width: 25px;
  height: 8px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #68b8ff;
  border: 1px solid transparent;
}


swiper-slide{
  @apply w-52 h-80 overflow-hidden rounded-lg shadow-soft transition-all duration-500 md:w-72 md:h-[450px]
}

.swiper-slide-active{
  @apply after:content-['BUY_NOW'] after:bg-gradient-to-t after:from-sky-500 after:absolute after:bottom-0 after:text-white after:w-full after:font-semibold after:pt-12 after:pb-4 after:text-center after:animate-inEffect
}

.text-limit {
  max-height: 100px;
  overflow: hidden;
}